/Lesson 05/CalcuationDemo/nbproject/private/
/Lesson 05/CalcuationDemo/build/
/Lesson 05/DemoMethodParameter/nbproject/private/
/Lesson 05/DemoMethodParameter/build/
/Lesson 05/DemoThisClass/nbproject/private/
/Lesson 05/DemoThisClass/build/
/Lesson 05/DemoStaticVariable/nbproject/private/
/Lesson 05/DemoStaticVariable/build/